.navbar {
    position: sticky;
    top: 2rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    font-weight: 700;
}

.navbar-left {
    background-color: transparent;
}

.navbar-content {
    flex: 2;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: transparent;
}

.navbar-content ul {
    display: flex;
    gap: 10rem;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}

.navbar-content li {
    background-color: transparent;
}

.navbar-content a {
    text-decoration: none;
    background-color: transparent;
}


