.navbar {
    position: sticky;
    top: 2rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    font-weight: 700;
    z-index: 1000;
    
    /*Glass*/
    background: rgba(255, 255, 255, 0.101);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px;
    border-radius: 16px;
}

.navbar-left {
    background-color: transparent;
}

.navbar-content {
    flex: 2;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: transparent;
}

.navbar-content ul {
    display: flex;
    gap: 10rem;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}

.navbar-content li {
    background-color: transparent;
}


.navbar-content li:hover {
    transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
    transform: translateY(-3px);
}

.navbar-content a {
    text-decoration: none;
    background-color: transparent;
}